{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h4>Введите ваш адрес електронной почты
                    </h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'accounts:password_reset_email' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">Email адрес</label>
                            {{ form.email }}
                        </div>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}